<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body>
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header position-absolute">
        <div class="container-fluid d-flex">
            <a href="/" class="logo">
                <picture>
                    <img src="<%= require('./img/logo.svg') %>" alt="" title="">
                </picture>
            </a>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <div class="section section-main">
            <div class="section-bg">
                <picture>
                    <source media="(min-width: 1024px)" srcset="<%= require('./img/main-pic.png') %>">
                    <img src="<%= require('./img/main-pic_sm.png') %>" class="section-bg__img" alt="" title="">
                </picture>
            </div>

            <div class="container-fluid">
                <div class="main-content">
                    <div class="content-card">
                        <picture class="content-card__pic">
                            <img src="<%= require('./img/content-pic.png') %>" alt="" title="">
                        </picture>

                        <p class="content-card__title">Catch</p>

                        <div class="content-card__body">
                            <p class="content-card__bonus styler-text">100% BONUS</p>

                            <p class="content-card__text">on the First Deposit</p>
                            <p class="content-card__text">up to</p>

                            <p class="content-card__price styler-text">100 EUR</p>
                        </div>

                        <button type="button" class="card-content__btn btn btn-style" data-toggle="modal" data-target="#registration">Play now</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- CONTENT END -->
</div>

<!-- Modal -->
<div class="modal fade" id="registration" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="registrationLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content reg-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>

            <div class="registration">
                <p class="registration__title">100% on 1st DEPOSIT</p>

                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1">Phone</a></li>
                        <li><a href="#tabs-2">Email</a></li>
                    </ul>

                    <div id="tabs-1">
                        <form action="" method="POST" class="form form-phone">
                            <label class="form-group">
                                <input type="tel" id="phone" class="form-control" placeholder=" ">
                                <input type="button" class="form-input-button" value="send sms">
                            </label>

                            <label class="form-group">
                                <input type="number" class="form-control" placeholder=" ">
                                <span class="form-label">Confirmation code</span>
                                <input type="button" class="form-input-button" value="confirm">
                            </label>

                            <button type="submit" class="btn btn-style"><span>Register</span></button>
                        </form>
                    </div>

                    <div id="tabs-2">
                        <form action="" method="POST" class="form form-email">
                            <fieldset>
                                <label class="form-group">
                                    <input type="email" class="form-control" placeholder=" ">
                                    <span class="form-label">Email</span>
                                </label>

                                <label class="form-group">
                                    <input type="text" class="form-control" placeholder=" ">
                                    <span class="form-label">First name</span>
                                </label>

                                <label class="form-group">
                                    <input type="text" class="form-control" placeholder=" ">
                                    <span class="form-label">Surname</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="form-group">
                                    <button type="button" class="form-button-pass">
                                        <svg><use xlink:href="img/spritemap.svg#sprite-pass-visible"></use></svg>
                                    </button>
                                    <input type="password" class="form-control" placeholder=" ">
                                    <span class="form-label">Password</span>
                                </label>
                                <label class="form-group">
                                    <input type="password" class="form-control" placeholder=" ">
                                    <span class="form-label">Re-enter your password</span>
                                </label>
                            </fieldset>

                            <button type="submit" class="btn btn-style"><span>Register</span></button>
                        </form>
                    </div>
                </div>

                <p class="registration__text">By clicking this button you confirm that you have read and agree to the <a href="#">Terms and Conditions</a> and <a href="#">Privacy
                    Policy</a> of the company and confirm that you are of legal age</p>
            </div>
        </div>
    </div>
</div>
<!-- BODY END   -->
</body>
</html>